body
{
	font-size: 100%;
}

.center
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.form  
{
	text-align: center;
}

.custom-input
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	padding: 5px 0px;
	border-color: white;
	line-height: 1.5em !important;
	font-size: 1em !important;
}

.bigbutton
{
    margin-left:auto;
    margin-right:auto;
	width: 12.5em;
    font-size: 1.2em;
}

#login .km-content
{
	background-attachment: fixed;
	background-image: url("../images/login_back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.km-tablet .maximal,
.km-phone .km-horizontal .maximal
{
	max-width: 34em;
	margin-left: auto;
	margin-right: auto;
}