<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
		<div data-role="view" id="categories-list" data-show="onCategoriesListShow" data-layout="" data-init="onCategoriesListInit" >
			<header data-role="header" >
				<div data-role="navbar" id="categories-navbar"> 
                    <a data-role="button" data-align="left" onclick="onBackClick('views/riglist.html')" data-icon="reply"></a>
					<span data-role="view-title"></span>
                    <a data-role="button" data-align="right" data-click="onLogoutClick" data-icon="home"></a>
				</div>
			</header>

			<ul  class="maximal" id="categories-list-view" data-role="listview" data-style="inset" data-click="onCategoriesListClick">
			</ul>
            
            <script src="scripts/categorieslist.js"></script>
		</div>        
    </body>
</html>