<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="crew-list" data-show="onCrewListShow" data-layout="rigtabs-layout" >
			<br/>
			<div style="width:100%; text-align:center">
				<a data-role="button" class="bigbutton" href="views/editcrew.html">New Crew</a>
			</div>
			<ul id="crew-list-view" data-role="listview" data-style="inset" data-template="crew-template" data-click="onCrewClick">
			</ul>
		</div>

		<script src="scripts/crewlist.js"></script>
	</body>
</html>