<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="editrig" data-title="New Rig" data-layout="" data-show="onEditRigShow">
			<header data-role="header">
				<div data-role="navbar">
                    <a data-role="button" data-align="left" data-click="onEditRigBack" data-icon="reply"></a>
					<span data-role="view-title"></span>
                    <a data-role="button" data-align="right" data-click="onLogoutClick" data-icon="home"></a>
				</div>
			</header>

			<ul data-style="inset" class="maximal" data-layout="" data-role="listview">
                <li>Rig Name
                    <input class="listviewinput" type="text" id="rig-name" placeholder="name" />
                </li>
                <li>Rig Info
                    <textarea id="rig-info" style="float:none; width:100%; height:15em; padding: 0px" placeholder="info"></textarea>
                </li>
            </ul>
            <div style="width:100%; text-align:center">
				<a data-role="button" class="bigbutton" data-click="saveRig">Save</a>
			</div>
            <br/><br/>
		</div>
        <script src="scripts/riginfo.js"></script>
	</body>
</html>