<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="editdocument" data-title="New Document type" data-layout="" data-show="onEditDocumentShow">
			<header data-role="header">
				<div data-role="navbar">
					<a data-role="button" data-align="left" onclick="onBackClick('views/based on type.html')" data-icon="reply"></a>
					<span data-role="view-title"></span>
					<a data-role="button" data-align="right" data-click="onLogoutClick" data-icon="home"></a>
				</div>
			</header>

			<ul data-style="inset" class="maximal" data-layout="" data-role="listview">
				<li>
					Name*
					<input class="listviewinput" type="text" id="document-name" />
				</li>
				<li>
					Type
					<select class="listviewinput" id="document-type" onchange="onDocumentTypeChange">
						<option value="File">File</option>
						<option value="Link">Link</option>
					</select>
				</li>
				<li>
					File*
					<input class="listviewinput" type="file"/>
				</li>
				<li>
					Info*
					<input class="listviewinput" type="text" id="document-info" />
				</li>
			</ul>
			<div style="width:100%; text-align:center">
				<a data-role="button" class="bigbutton" data-click="saveDocument">Save</a>
                <a data-role="button" class="bigbutton" data-click="openDocument">Open</a>
			</div>
		</div>
		<script src="scripts/documentlist.js"></script>
	</body>
</html>