<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="editdocument" data-layout="" data-show="onEditDocumentShow">
			<header data-role="header">
				<div id="edit-document-navbar" data-role="navbar">
					<a data-role="button" data-align="left" data-click="onEditDocumentBackClick" data-icon="reply"></a>
					<span data-role="view-title">New Document</span>
					<a data-role="button" data-align="right" data-click="onLogoutClick" data-icon="home"></a>
				</div>
			</header>

			<ul data-style="inset" class="maximal" data-layout="" data-role="listview">
				<li>
					Name*
					<input class="listviewinput" type="text" id="document-name" />
				</li>
				<li>
					Type
					<select class="listviewinput" id="document-type" onchange="onDocumentTypeChange()">
						<option value="File">File</option>
						<option value="Link">Link</option>
					</select>
				</li>
				<li id="filerow">
					<table>
						<tr>
							<td>File*</td>
							<td style="width:100%">
								<input style="width:100%; position: relative; margin: 0px" type="text" id="file-name" />
                                <input type="file" id="file" style="display:none;" onchange="fileSelected()" />
							</td>
							<td>
								<a data-role="button" data-click="selectFile">Browse</a>
							</td>
						</tr>
					</table>
				</li>
				<li id="linkrow">
					Info*
					<input class="listviewinput" type="text" id="document-info" placeholder="link"/>
				</li>
			</ul>
			<div style="width:100%; text-align:center">
				<a data-role="button" class="bigbutton" data-click="saveDocument">Save</a>
				<a data-role="button" class="bigbutton" data-click="openDocument" id="edit-document-open">Open</a>
			</div>
            <br/><br/>
		</div>

	</body>
</html>