<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="editrig" data-title="New Rig" data-layout="" data-show="onEditRigShow">
			<header data-role="header">
				<div data-role="navbar">
					<span data-role="view-title"></span>
				</div>
			</header>

			<ul data-style="inset" class="maximal" data-layout="" data-role="listview">
                <li>Rig Name
                    <input class="listviewinput" type="text" id="rig-name" />
                </li>
                <li>Rig Info
                    <textarea id="rig-info" style="float:none; width:100%; height:18em"></textarea>
                </li>
            </ul>
            <div style="width:100%; text-align:center">
				<a data-role="button" class="bigbutton" data-click="saveRig">Save</a>
			</div>
			<div data-role="footer">
				<div data-role="tabstrip">
					<a href="#login" data-icon="home">Logout</a>
					<a href="views/riglist.html" data-icon="reply">Cancel</a>
				</div>
			</div>
		</div>
        <script src="scripts/riginfo.js"></script>
	</body>
</html>