<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="editrig" data-title="New Rig" data-layout="" >
			<header data-role="header">
				<div data-role="navbar">
					<span data-role="view-title"></span>
				</div>
			</header>

			test

			<div data-role="footer">
				<div data-role="tabstrip">
					<a href="#login" data-icon="home">Logout</a>
					<a href="views/riglist.html" data-icon="reply">Cancel</a>
				</div>
			</div>
		</div>
	</body>
</html>