<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="rig-info" data-show="onRigInfoShow" data-layout="rigtabs-layout" data-init="onRigInfoInit" >
            <br/>
            <div style="overflow-x:scroll; width:100%;height:auto;" id="riginfo-html"></div>
		</div>

		<script src="scripts/riginfo.js"></script>
	</body>
</html>