<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>
		<div data-role="view" id="rig-tabs" data-show="onRigTabsShow" data-layout="" data-init="onRigTabsInit" >
			<header data-role="header" >
				<div data-role="navbar" id="rig-tabs-navbar">
					<span data-role="view-title"></span>
				</div>
			</header>

			ty
			<div data-role="footer">
				<div data-role="tabstrip">
					<a href="#login" data-icon="home">Logout</a>
					<a href="views/categorieslist.html" data-icon="reply">Back</a>
				</div>
			</div>
		</div>

		<script src="scripts/rigtabs.js"></script>
	</body>
</html>